ul{
    list-style-type: none;
    padding-left: 0px;
}

li{
    margin-top: 12px;
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.main-container{
    display: block;
    margin-top: 50px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-left: 15px;
}

header {
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: orange;
    color: white;
}

.app-title{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

footer{
  width: 100%;
  padding: 10px;
  margin: 0px;
  background-color: orange;
  color: white;
  position: absolute;
  bottom: 0px;
}

.page-title{
    font-size: 24px;
}

table{
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    border: solid 1px;
    border-collapse:  collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    border: solid 1px black;
    padding: 10px 20px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


td {
    display: table-cell;
    vertical-align: inherit;
    border: solid 1px black;
    padding: 10px 20px;
    text-align: center;
}

.information{
    padding-bottom: 20px;
}

.links{
    margin-top: 30px;
}

.input-form{
    width: 100%;
}

.input-area{
    width: 100%;
    height: 100px;
}

.message{
    width: fit-content;
    padding: 10px;
    margin-top: 15px;
    border: solid 1px;
}
